.app-container {
  margin: 1rem 3rem;
  display: grid;
  grid-template-rows: 4rem 2rem max-content 1fr max-content;
  grid-template-columns: 95vw;
  grid-gap: 1rem 0;

  .filters {
    display: flex;
    justify-content: flex-end;
  }
}

.app-header {
  text-align: center;
}

.app-spinner-container {
  margin: 1rem 3rem;
  height: 100vh;
  display: grid;

  .app-spinner {
    margin: auto;
  }
}
